#data
pandas

#packaging
wheel

#nlp
langdetect
spacy
nltk

#ml
xgboost
scikit-learn


#testing
pytest

#formatting
mypy
black

#geo
haversine
geojson
country-converter
rasterio

#documentation
pdoc3
nbconvert

#visualization
tqdm
tabulate
seaborn
plotly

#GUI
fiona
folium
ipyleaflet
voila==0.1.24